<div ibmGrid class="bx--grid--full-width">
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pb-24 pt-32">
        <div ibmCol [columnNumbers]="{'lg': 10, 'md': 10, 'sm': 6}">
            <ibm-breadcrumb [noTrailingSlash]="true">
                <ibm-breadcrumb-item [current]="true">
                    <svg ibmIcon="template" size="20"></svg>
                    <span class="ph03 pl-8">Dashboard</span>
                    
                </ibm-breadcrumb-item>
            </ibm-breadcrumb>
        </div>
    </div>
    <p>shadi works!</p>

</div>
