

.text-bold {
    font-weight: bold;
}

.actions {
    display: flex;
    float: right;
  }

/* ::ng-deep {
    .bx--data-table tr {
        height: 4rem;
    } 

    .bx--data-table td,
    .bx--data-table tbody th.bx--data-table td,
    .bx--data-table tbody th {
        border-top: 1px solid #f4f4f4;
        border-bottom: 1px solid #e0e0e0;
    }
    
} */