<ibm-loading
  *ngIf="isLoading"
  [isActive]="isLoading"
  size="normal"
  [overlay]="overlay"
>
</ibm-loading>

<div ibmGrid class="bx--grid--full-width">
  <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
    <div ibmCol [columnNumbers]="{ lg: 10, md: 10, sm: 6 }">
      <ibm-breadcrumb [noTrailingSlash]="true">
        <ibm-breadcrumb-item [current]="true">
          Operations System
        </ibm-breadcrumb-item>

        <ibm-breadcrumb-item> Marine </ibm-breadcrumb-item>

        <ibm-breadcrumb-item [current]="true">
          Material Requisition Request Form
        </ibm-breadcrumb-item>
      </ibm-breadcrumb>
    </div>
  </div>
  <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
    <div ibmCol [columnNumbers]="{ lg: 10, md: 10, sm: 6 }">
      <span class="ph03">Material Requisition Request Form</span>
    </div>
  </div>

  <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
    <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Company Name</div>
    <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">
      {{ companyName }}
    </div>
  </div>

  <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
    <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Request By</div>
    <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">
      {{ requestByName }}
    </div>
  </div>

  <form
    #berthFormss="ngForm"
    (ngSubmit)="onSubmit(berthFormss)"
    autocomplete="off"
  >
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
      <div ibmCol [columnNumbers]="{ lg: 6, md: 6, sm: 6 }">
        <div class="form-item">
          <ibm-label>
            Request Ref. (Optional)
            <input
              ibmText
              [(ngModel)]="berthForms.request_ref"
              name="request_ref"
              [invalid]="invalidRequestRef"
              placeholder="Request Ref."
            />
          </ibm-label>
        </div>
        <div class="form-item" #customer tabindex="2">
          <ibm-combo-box
            id="dropdown"
            label="Request On Behalf"
            name="customerName"
            [appendInline]="true"
            [dropUp]="false"
            placeholder="Choose an option"
            [(ngModel)]="berthForms.customerName"
            [invalid]="invalidCustomer"
            invalidText="Customer / User is required"
            [items]="requestOnBehalfList"
            itemValueKey="content"
            required
          >
            <ibm-dropdown-list></ibm-dropdown-list>
          </ibm-combo-box>
        </div>
        <div class="form-item" #location tabindex="3">
          <ibm-combo-box
            id="dropdown"
            label="Location"
            name="locationName"
            [appendInline]="true"
            [dropUp]="false"
            placeholder="Choose an option"
            [(ngModel)]="berthForms.locationName"
            [invalid]="invalidLocation"
            invalidText="Location is required"
            [items]="locationList"
            itemValueKey="content"
            required
          >
            <ibm-dropdown-list></ibm-dropdown-list>
          </ibm-combo-box>
        </div>

        <div class="form-item" #vessel tabindex="4">
          <ibm-combo-box
            id="dropdown"
            label="Vessel Name"
            name="vesselName"
            [appendInline]="true"
            [dropUp]="false"
            placeholder="Choose an option"
            [(ngModel)]="berthForms.vesselName"
            [invalid]="invalidVessel"
            invalidText="Vessel Name is required"
            [items]="vesselNameList"
            itemValueKey="content"
            required
          >
            <ibm-dropdown-list></ibm-dropdown-list>
          </ibm-combo-box>
        </div>

        <div class="form-item">
          <label class="bx--label">Remarks (Optional)</label
          ><label
            class="bx--label"
            [ngStyle]="{ color: invalidNumeric ? '#da1e28' : '' }"
            style="float: right"
            >{{ numericCounter }}/100</label
          >
          <textarea
            ibmTextArea
            aria-label="textarea"
            maxlength="100"
            placeholder="Placeholder text"
            [rows]="6"
            [(ngModel)]="berthForms.remarks"
            (ngModelChange)="numericCount(berthForms.remarks)"
            name="remarks"
            [ngStyle]="{ border: invalidNumeric ? '2px solid #da1e28' : '' }"
          >
          </textarea>
          <div *ngIf="invalidNumeric" class="invalid-class-label">
            Reach maximum characters
          </div>
        </div>

        <div class="form-item" #typeOfService tabindex="5">
          <ibm-combo-box
            id="dropdown"
            label="Type of Services"
            name="typeOfServices"
            [appendInline]="true"
            [dropUp]="false"
            placeholder="Choose an option"
            [(ngModel)]="berthForms.typeOfServices"
            [invalid]="invalidTypeOfService"
            invalidText="Type of Services is required"
            [items]="typeOfServicesList"
            itemValueKey="content"
            (selected)="servicesDependency($event)"
          >
            <ibm-dropdown-list></ibm-dropdown-list>
          </ibm-combo-box>
        </div>
      </div>
    </div>

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
      <div ibmCol [columnNumbers]="{ lg: 12, md: 10, sm: 6 }">
        <div class="form-item">
          <div *ngIf="noTableSelected" class="invalid-class-label">
            <p class="ph01">Please request at least one item.</p>
          </div>
        </div>
        <ibm-table-container>
          <ibm-table-header>
            <h4 ibmTableHeaderTitle>Material Requisition</h4>
          </ibm-table-header>
          <ibm-table-toolbar>
            <ibm-table-toolbar-content *ngIf="!checkLengthMaterial()">
              <button
                style="
                  padding: calc(0.375rem - 3px) 60px calc(0.375rem - 3px) 12px;
                "
                ibmButton="primary"
                size="sm"
                type="button"
                (click)="addMaterialRow()"
              >
                Add Item
                <div class="icon-addAlt" ibmIcon="add--alt" size="20"></div>
              </button>
            </ibm-table-toolbar-content>
            <div class="table-action" *ngIf="checkLengthMaterial()">
              <div class="selectedItem">
                {{ counterMaterial }}
                <span *ngIf="counterMaterial == 1">item</span
                ><span *ngIf="counterMaterial > 1">items</span> selected
              </div>
              <div class="actions">
                <div class="del">
                  <Button
                    ibmButton="primary"
                    size="sm"
                    type="button"
                    (click)="deleteMaterial()"
                  >
                    Delete
                    <div
                      class="icon-trashCan"
                      ibmIcon="trash-can"
                      size="20"
                    ></div>
                  </Button>
                </div>
                <div class="cancel">
                  <button
                    ibmButton="primary"
                    size="sm"
                    type="button"
                    (click)="cancelMethodMaterial()"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </ibm-table-toolbar>

          <div>
            <!-- <div class="horizontal-overflow-table"> -->

            <table class="bx--data-table">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Underdeck Services</th>
                  <th>Tank No.</th>
                  <th>Product Name</th>
                  <th>Barrels Qty.</th>
                  <th>Tonnes Qty.</th>
                  <th [attr.colspan]="colspan">{{ headerStartTime }}</th>
                  <!-- <th [attr.colspan]="colspan"> {{headerEndTime}}</th> -->
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngIf="!materialRow || materialRow.length == 0"
                  [ngClass]="{ 'invalid-tableRow': materialTableInvalid }"
                >
                  <td align="center" colspan="11">
                    No data is entered yet. Please add new row
                  </td>
                </tr>

                <tr
                  *ngFor="let item of materialRow; let postIndex = index"
                  [ngClass]="{ 'invalid-tableRow': materialTableInvalid }"
                  class="white-bg"
                >
                  <td>{{ postIndex + 1 }}</td>
                  <td>
                    <body>
                      <ibm-combo-box
                        class="dropdown"
                        id="dropdown"
                        name="item_{{ item.id }}"
                        [items]="underdeckServicesList"
                        (selected)="checkServices(postIndex)"
                        [appendInline]="true"
                        [dropUp]="false"
                        placeholder="Select"
                        [(ngModel)]="item.underdeck_services"
                        [invalid]="invalidUnderdeckServices[postIndex]"
                        invalidText="Item Required"
                        itemValueKey="content"
                        style="min-width: 150px"
                      >
                        <ibm-dropdown-list></ibm-dropdown-list>
                      </ibm-combo-box>
                    </body>
                  </td>

                  <td>
                    <input
                      ibmText
                      type="text"
                      style="min-width: 80px"
                      id="text"
                      name="tank_no_{{ item.id }}"
                      [(ngModel)]="item.tank_no"
                      [invalid]="invalidTankNo[postIndex]"
                      invalidText="Item Required"
                    />
                  </td>
                  <td>
                    <input
                      ibmText
                      type="text"
                      style="min-width: 80px"
                      id="text"
                      name="product_{{ item.id }}"
                      [(ngModel)]="item.product"
                      [invalid]="invalidProduct[postIndex]"
                      invalidText="Item Required"
                    />
                  </td>
                  <td>
                    <ibm-number
                      [step]="step"
                      [min]="min"
                      [max]="max"
                      [invalid]="invalidBarrelsQty[postIndex]"
                      invalidText="Quantity Required"
                      name="barrels_quantity_{{ item.id }}"
                      [(ngModel)]="item.barrels_quantity"
                      (change)="
                        inputValueChange(item.barrels_quantity, postIndex)
                      "
                      (click)="
                        inputValueChange(item.barrels_quantity, postIndex)
                      "
                      [disabled]="disableBarrels[postIndex]"
                    ></ibm-number>
                  </td>
                  <td>
                    <ibm-number
                      [step]="step"
                      [min]="min"
                      [max]="max"
                      [invalid]="invalidTonnesQty[postIndex]"
                      name="tonnes_quantity_{{ item.id }}"
                      [(ngModel)]="item.tonnes_quantity"
                      (change)="
                        inputValueChangeTonnes(item.tonnes_quantity, postIndex)
                      "
                      (click)="
                        inputValueChangeTonnes(item.tonnes_quantity, postIndex)
                      "
                      [disabled]="disableTonnes[postIndex]"
                    ></ibm-number>
                  </td>
                  <td>
                    <ibm-date-picker
                      class="materialDatepicker"
                      [placeholder]="placeholder"
                      [size]="size"
                      [dateFormat]="dateFormat"
                      [(ngModel)]="item.start_date"
                      name="start_date_{{ item.id }}"
                      [invalid]="invalidStartDate[postIndex]"
                      [invalid]="invalidbackDated[postIndex]"
                      required
                      (change)="dateValueChange($event)"
                    >
                    </ibm-date-picker>
                    <div
                      *ngIf="invalidStartDate[postIndex]"
                      class="invalid-class-label"
                    >
                      Date Required
                    </div>
                    <div
                      *ngIf="invalidbackDated[postIndex]"
                      class="invalid-class-label"
                    >
                      Invalid Date
                    </div>
                  </td>
                  <td *ngIf="berthForms.typeOfServices !== 'STORAGE'">
                    <ibm-timepicker
                      (keyup)="timePickerChangeStart($event, [postIndex])"
                      [(ngModel)]="item.start_time"
                      name="start_time_{{ item.id }}"
                      [invalid]="invalidStartTime[postIndex]"
                      invalidText="Invalid Time"
                      required
                    >
                    </ibm-timepicker>
                  </td>
                  <!-- <td >
                                                <ibm-date-picker
                                                class="materialDatepicker"
                                                [placeholder]="placeholder"
                                                [size]="size"
                                                [dateFormat]="dateFormat"
                                                [(ngModel)]="item.end_date"
                                                name="end_date_{{item.id}}"
                                                [invalid]="invalidEndDate[postIndex]"
                                                [invalid]="invalidbackDatedFromStartDate[postIndex]"
                                                required
                                                (change)="dateEndValueChange($event)"
                                            >
                                            </ibm-date-picker>
                                            <div *ngIf="invalidEndDate[postIndex]" class="invalid-class-label">Date Required</div>
                                            <div *ngIf="invalidbackDatedFromStartDate[postIndex]" class="invalid-class-label">Date must more than Start Date</div>



                                            </td> -->
                  <!-- <td *ngIf="berthForms.typeOfServices !== 'STORAGE'">

                                                <ibm-timepicker
                                                (keyup)="timePickerChangeEnd($event, [postIndex])"
                                                [(ngModel)]="item.end_time"
                                                name="end_time_{{item.id}}"
                                                [invalid]="invalidEndTime[postIndex]"
                                                invalidText="Invalid Time"
                                                required>

                                            </ibm-timepicker>
                                            </td> -->
                  <td>
                    <ibm-checkbox
                      name="checkbox_{{ item.id }}"
                      [(ngModel)]="item.Selected"
                      (ngModelChange)="materialCheckboxChange($event)"
                    >
                    </ibm-checkbox>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ibm-table-container>
      </div>
    </div>

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
      <div ibmCol [columnNumbers]="{ lg: 12, md: 10, sm: 6 }">
        <div class="form-item">
          <ibm-table-container>
            <ibm-table-header>
              <h4 ibmTableHeaderTitle>Documents List</h4>
              <p ibmTableHeaderDescription>
                Please add related documents in the table below. For example:
                K4, K5, Delivery Order, Other Documents. <br />
                To remove, select the checkbox and press remove button in the
                console
              </p>
            </ibm-table-header>
            <ibm-table-toolbar>
              <ibm-table-toolbar-content>
                <div class="table-action" *ngIf="checkLengthDocList()">
                  <div class="selectedItem">
                    {{ counterDocList }}
                    <span *ngIf="counterDocList == 1">item</span
                    ><span *ngIf="counterDocList > 1">items</span> selected
                  </div>
                  <div class="actions">
                    <div class="del">
                      <button
                        ibmButton="primary"
                        size="sm"
                        type="button"
                        (click)="deleteDocList()"
                      >
                        Remove
                        <div
                          class="icon-trashCan"
                          ibmIcon="trash-can"
                          size="20"
                        ></div>
                      </button>
                    </div>
                    <div class="cancel">
                      <button
                        ibmButton="primary"
                        size="sm"
                        type="button"
                        (click)="cancelDocList()"
                      >
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
                <div *ngIf="!checkLengthDocList()">
                  <button
                    *ngIf="
                      status.toLowerCase().includes('init') ||
                      status.includes('start')
                    "
                    ibmButton="primary"
                    type="button"
                    style="width: 178px"
                    (click)="openModalAddItem()"
                  >
                    Add New
                    <div class="icon-addAlt" ibmIcon="add--alt" size="20"></div>
                  </button>
                </div>
              </ibm-table-toolbar-content>
            </ibm-table-toolbar>
          </ibm-table-container>

          <div class="horizontal-overflow-table">
            <table class="bx--data-table">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Doc. Type</th>
                  <th>Waste Code</th>
                  <th>Doc. ID</th>
                  <th>Uploaded By</th>
                  <th>Date/Time</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of documentPreview; let index = index">
                  <td>{{ index + 1 }}</td>
                  <td *ngIf="list.docPath">
                    <a
                      style="text-decoration: none"
                      (click)="openFile(list.docPath)"
                      href="javascript:void(0);"
                      target="_blank"
                      >{{ list.docType }}</a
                    >
                  </td>
                  <td *ngIf="list.fromApi">
                    <button
                      type="button"
                      ibmButton="ghost"
                      class="downloadBtn"
                      (click)="downloadFiles(list.id, list.docID)"
                    >
                      {{ list.docType }}
                    </button>
                  </td>
                  <td>{{ list.wasteCode }}</td>
                  <td>{{ list.docID }}</td>
                  <td>{{ list.uploadBy }}</td>
                  <td>{{ list.dateTime | date: "dd/MM/y HH:mm" }}</td>
                  <td>
                    <ibm-checkbox
                      *ngIf="
                        status.toLowerCase().includes('init') ||
                        status.includes('start')
                      "
                      name="checkbox_{{ list.id }}"
                      [(ngModel)]="list.select"
                      [hideLabel]="true"
                      (ngModelChange)="docListCheckbox($event)"
                    >
                    </ibm-checkbox>
                  </td>
                </tr>
                <tr *ngIf="documentPreview.length < 1">
                  <td align="center" colspan="8" class="no-data">
                    No data is entered yet. Please add a new entry.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div
      ibmRow
      class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32 pb-32"
    >
      <div ibmCol [columnNumbers]="{ lg: 12, md: 12, sm: 12 }">
        <div class="form-item">
          <div class="btn-action">
            <button
              [disabled]="clickedSubmit"
              type="button"
              ibmButton="secondary"
              style="margin-right: 24px"
              (click)="open = true"
            >
              Cancel
            </button>
            <!-- <button [disabled]="clickedSubmit" *ngIf="status.toLowerCase().includes('init') || status.includes('start')" type="submit" ibmButton="primary">Preview</button> -->
            <!-- <button class="bx--btn bx--btn--primary" routerLink="/operation-system/marine-material-requisition-form-preview">Next</button> -->
            <!-- <button class="bx--btn bx--btn--primary" type="submit">Next</button> -->
            <button
              ibmButton="primary"
              class="bx--btn bx--btn--primary"
              type="submit"
              style="float: right"
            >
              Save & Preview
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Modal -->
<div ibmRow>
  <div ibmCol [columnNumbers]="{ lg: 10 }">
    <ibm-modal [open]="open" (overlaySelected)="open = false">
      <ibm-modal-header (closeSelect)="open = false"> </ibm-modal-header>
      <section ibmModalContent>
        <h4 style="font-weight: bold">Confirmation</h4>
        <h4>Are you sure want to leave this page?</h4>
        <h4>Any changes or updates will be lost</h4>
      </section>
      <ibm-modal-footer>
        <button class="bx--btn bx--btn--secondary" (click)="open = false">
          Cancel
        </button>
        <button
          class="bx--btn bx--btn--primary"
          modal-primary-focus
          routerLink="/operation-system/marine-material-requisition-list"
        >
          Confirm
        </button>
      </ibm-modal-footer>
    </ibm-modal>
  </div>
</div>

<ibm-modal
  class="stepOneModal"
  [open]="stepOneOpenModal"
  [trigger]="triggerOneOpenModal"
  (overlaySelected)="stepOneOpenModal = false"
>
  <ibm-modal-header (closeSelect)="stepOneOpenModal = false">
    <p class="bx--modal-header__label bx--type-delta"></p>
    <p
      class="bx--modal-header__heading bx--type-beta ph03"
      style="font-weight: 600"
    >
      Add New Document
    </p>
  </ibm-modal-header>
  <div class="bx--modal-content">
    <div class="document-modal bx--text-input__field-wrapper">
      <div class="form-item">
        <ibm-dropdown
          label="Document Type"
          placeholder="Please Select"
          [appendInline]="true"
          [dropUp]="false"
          name="docType"
          #types
          (selected)="selectDoc($event)"
          itemValueKey="content"
          required
          [invalid]="invalidDocType"
          invalidText="Document Type is required"
        >
          <ibm-dropdown-list [items]="documentTypeList"></ibm-dropdown-list>
        </ibm-dropdown>
      </div>

      <div class="form-item">
        <ibm-label>
          Waste Code (for Schedule Waste works only)
          <input
            ibmText
            type="text"
            name="wasteCode"
            #waste
            (blur)="onblurWaste($event)"
          />
        </ibm-label>
      </div>

      <!-- <div class="form-item invalid-icon-50">
                <ibm-label
                [invalid]="invalidDocID"
                invalidText="Document ID is required"
                helperText="Please insert dash (-) if not applicable">
                    Document ID
                    <input ibmText
                    type="text"
                    placeholder="XXXXXXXXXXXX"
                    name="docID"
                    #docsID
                    required
                    [invalid]="invalidDocID"
                    (blur)="onblurDoc($event)">
                </ibm-label>
            </div> -->

      <div class="form-item invalid-icon-50">
        <ibm-label helperText="Please insert dash (-) if not applicable">
          Document ID
          <input
            ibmText
            type="text"
            placeholder="XXXXXXXXXXXX"
            name="docID"
            #docsID
            (blur)="onblurDoc($event)"
          />
        </ibm-label>
      </div>

      <div class="form-item">
        <ibm-file-uploader
          [ngClass]="{ 'invalid-file': invalidUpload }"
          title="Upload Related Documents"
          description="Max. file size is 5mb. Supported file types are .jpg, .png, and .pdf"
          [accept]="accept"
          [multiple]="multiple"
          [(files)]="files"
          drop="true"
          #inputFile
          dropText="Drag and drop ﬁles here or click to upload"
          name="upload"
          (filesChange)="onDropped($event)"
        >
        </ibm-file-uploader>
        <div *ngIf="invalidUpload" class="invalid-class-label">
          File required
        </div>
      </div>
    </div>
  </div>
  <ibm-modal-footer>
    <ng-container>
      <button
        class="bx--btn bx--btn--secondary"
        (click)="cancelModal()"
        size="lg"
      >
        Cancel
      </button>
      <button
        ibmButton="primary"
        (click)="onSaveDocumentList()"
        [attr.modal-primary-focus]="true"
        size="lg"
      >
        Save
      </button>
    </ng-container>
  </ibm-modal-footer>
</ibm-modal>

<div ibmRow>
  <div ibmCol [columnNumbers]="{ lg: 10 }">
    <ibm-modal [open]="modalTimeout" (overlaySelected)="modalTimeout = false">
      <ibm-modal-header (closeSelect)="modalTimeout = false">
        <h4 style="font-weight: bold">Session timeout</h4>
      </ibm-modal-header>
      <!-- <section ibmModalContent style="height: unset;"> -->
      <section ibmModalContent>
        <!-- <h3 ibmModalContentText class="bx--modal-content__regular-content modal-text">
                  Oops! You need to relogin again and make a new request to continue<br>
                </h3> -->
        <h4 ibmModalContentText>
          Failed to upload file. Please relogin again to upload file
        </h4>
      </section>
      <ibm-modal-footer>
        <!-- <button class="bx--btn bx--btn--secondary" (click)="modalTimeout = false">Back</button> -->
        <button
          type="submit"
          class="bx--btn bx--btn--primary"
          (click)="logout()"
        >
          Log Out
        </button>
      </ibm-modal-footer>
    </ibm-modal>
  </div>
</div>
