.white-bg {
  background-color: #fff;
}

.icon-addAlt {
  //position: relative;
  left: 80px;
  top: 2px;
}

.icon-search {
  margin-right: 12px;
  margin-top: 16px;
}

::ng-deep {
  .bx--data-table td,
  .bx--data-table tbody th.bx--data-table td,
  .bx--data-table tbody th {
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #e0e0e0;
  }

  .bx--search--sm .bx--search-input,
  .bx--search--sm.bx--search--expandable.bx--search--expanded .bx--search-input,
  .bx--search--sm .bx--search-close,
  .bx--search--sm ~ .bx--search-button,
  .bx--search--sm.bx--search--expandable,
  .bx--search--sm.bx--search--expandable .bx--search-magnifier {
    height: 48px;
  }
  .bx--search-magnifier {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .bx--btn--sm {
    padding: 3px 16px 3px 16px;
  }
  #table-header-0-0-0 {
    width: 75px;
  }

  .table-style ibm-table table {
    // width: 95rem;
    overflow: auto;
  }
}
