<div ibmGrid class="bx--grid--full-width pb-133">
  <div
    id="topPartPrint"
    ibmRow
    class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32"
  >
    <div ibmCol [columnNumbers]="{ lg: 10, md: 10, sm: 10 }">
      <ibm-breadcrumb [noTrailingSlash]="true">
        <ibm-breadcrumb-item [current]="true">
          Warehouse Management System
        </ibm-breadcrumb-item>

        <ibm-breadcrumb-item>
          <a routerLink="/wms/psb-inventory-list">Petroleum Supply Base</a>
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item>
          <a routerLink="/wms/psb-goods-in-out-list">Goods In / Goods Out</a>
        </ibm-breadcrumb-item>

        <ibm-breadcrumb-item [current]="true">
          Goods In Form
        </ibm-breadcrumb-item>
      </ibm-breadcrumb>
    </div>
  </div>

  <div class="printable">
    <div
      ibmRow
      class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-24 printable-special"
    >
      <div ibmCol [columnNumbers]="{ lg: 12, md: 12, sm: 12 }">
        <div style="width: 100%">
          <table>
            <tbody>
              <tr>
                <td style="vertical-align: middle">
                  <img
                    src="./assets/images/KSB_Logo.png"
                    alt="KSB logo"
                    style="width: 80px"
                  />
                </td>
                <td style="padding-top: 25px; padding-bottom: 20px">
                  <p class="title-text">
                    PANGKALAN BEKALAN KEMAMAN SDN. BHD. (69363-D)
                  </p>
                  <p class="ph01" style="padding-top: 5px">
                    A Subsidiary of Eastern Pacific Industrial Corporation Bhd.
                  </p>
                  <p class="letter-header-Text">
                    P.O Box 64, 24007 Kemaman, Terengganu Darul Iman, Malaysia
                  </p>
                  <p class="letter-header-Text">
                    Tel : 09 - 860 2343, 860 2344 Fax : 09 - 869 1191
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
      <div ibmCol [columnNumbers]="{ lg: 6, md: 6, sm: 6 }">
        <div>
          <span class="ph03">Goods In Form</span>
        </div>
      </div>
    </div>

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
      <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Company Name</div>
      <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">
        {{ detailsCompanyName }}
      </div>
    </div>

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-24">
      <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Request By</div>
      <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">
        {{ detailsRequestBy }}
      </div>
    </div>

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-64">
      <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Form Type</div>
      <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">
        {{ detailsformType }}
      </div>
    </div>

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-24">
      <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Form No.</div>
      <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">
        {{ detailsRegistrationNo }}
      </div>
    </div>

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-24">
      <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Move Date</div>
      <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">
        {{ detailsMoveDate }}
      </div>
    </div>

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-24">
      <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Location</div>
      <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">
        {{ detailsLocation }}
      </div>
    </div>

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-24">
      <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">
        Invoice No. (Optional)
      </div>
      <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">
        {{ detailsInvoiceNo }}
      </div>
    </div>

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-24">
      <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Category</div>
      <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">
        {{ detailsCategory }}
      </div>
    </div>

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-24">
      <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Request No.</div>
      <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">
        {{ detailsRequestNo }}
      </div>
    </div>

    <!-- <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-24">
            <div ibmCol [columnNumbers]="{ 'lg':2 }" class="ph01">
                Remarks
            </div>
            <div ibmCol [columnNumbers]="{ 'lg':6 }" class="bl01">
                {{detailsRemark}}
            </div>
        </div> -->

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-24">
      <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Status</div>
      <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">
        {{ detailsStatus }}
      </div>
    </div>
  </div>

  <div
    ibmRow
    class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-64 special-print-class-table"
  >
    <div ibmCol [columnNumbers]="{ lg: 12, md: 10, sm: 6 }">
      <ibm-table-container>
        <ibm-table-header class="pb-48">
          <h4 ibmTableHeaderTitle>List of Goods</h4>
        </ibm-table-header>

        <table class="bx--data-table">
          <thead>
            <tr>
              <th>No.</th>
              <th>Tariff Code</th>
              <th>Goods Description</th>
              <th style="text-align: right">Qty.</th>
              <th style="text-align: right">Value (RM)</th>
              <th>UOM</th>
              <th style="text-align: right">Total Value (RM)</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngIf="listOfGoodsIn.length == 0"
              [ngClass]="{ 'invalid-tableRow': goodsInTableInvalid }"
            >
              <td align="center" colspan="8">
                No data is entered yet. Please add new row
              </td>
            </tr>
            <tr
              *ngFor="let goodsIn of listOfGoodsIn; let postIndex = index"
              class="white-bg"
              [ngClass]="{ 'invalid-tableRow': goodsInTableInvalid }"
            >
              <td>{{ postIndex + 1 }}</td>
              <td>
                {{ goodsIn.customs_code }}
              </td>
              <td>
                {{ goodsIn.description }}
              </td>
              <td class="w-130" style="text-align: right">
                {{ goodsIn.quantity }}
              </td>
              <td class="w-130" style="text-align: right">
                {{ addZeroes(goodsIn.value) }}
              </td>
              <td class="w-130">
                {{ goodsIn.uom }}
              </td>
              <td style="text-align: right">
                {{ addZeroes(goodsIn.totalValue) }}
              </td>
            </tr>
          </tbody>
        </table>
      </ibm-table-container>
    </div>
  </div>
  <div
    ibmRow
    class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-64 disable-on-print"
  >
    <div ibmCol [columnNumbers]="{ lg: 12 }">
      <div class="d-flex justify-content-end">
        <button
          type="button"
          ibmButton="secondary"
          class="mr-32"
          (click)="redirectToPrevious()"
        >
          Back
        </button>
        <button type="button" ibmButton="secondary" (click)="onPrint()">
          Print
        </button>
      </div>
    </div>
  </div>
</div>
