<div ibmRow class="pt-32">
  <div ibmCol [columnNumbers]="{ lg: 10, md: 10, sm: 6 }">
    <span class="ph03">MHE Request Form Preview</span>
  </div>
</div>
<div ibmRow class="pt-32">
  <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Request Number</div>
  <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">{{ requestNumber }}</div>
</div>
<div ibmRow class="pt-32">
  <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Request Type</div>
  <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01" *ngIf="requestNumber">
    Console
  </div>
</div>
<div ibmRow class="pt-32">
  <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Job Description</div>
  <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">
    {{ job_description }}
  </div>
</div>
<div ibmRow class="pt-32">
  <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Request on Behalf</div>
  <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">
    {{ request_behalf }}
  </div>
</div>
<!-- <div ibmRow class="pt-32">
  <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Booking Type</div>
  <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">//</div>
</div> -->
<div ibmRow class="pt-32">
  <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Booking Date</div>
  <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">{{ booking_date }}</div>
</div>
<div ibmRow class="pt-32">
  <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Remarks</div>
  <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">{{ remarks }}</div>
</div>
<div ibmRow class="pt-32">
  <div ibmCol [columnNumbers]="{ lg: 2 }" class="ph01">Status</div>
  <div ibmCol [columnNumbers]="{ lg: 6 }" class="bl01">
    {{ status | titlecase }}
  </div>
</div>

<!----------------------------------   Machinery Table ----------------------------------->

<div *ngIf="machineryList.length > 0">
  <div ibmRow class="pt-32">
    <div ibmCol [columnNumbers]="{ lg: 12, md: 10, sm: 6 }">
      <div class="form-item">
        <span class="ph03">Machinery</span>
        <ibm-table-container>
          <div class="horizontal-overflow-table">
            <table class="bx--data-table">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Item</th>
                  <th>Work Programme</th>
                  <th>Qty.</th>
                  <th>Time</th>
                  <!-- <th>Est.Hours</th> -->
                  <th>Location</th>
                  <!-- <th>Specific Crew</th> -->
                  <th>Job Ticket</th>
                  <th>Usage (Hrs)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of machineryList; let i = index">
                  <td>{{ i + 1 }}.</td>
                  <td>{{ item.item }}</td>
                  <td>{{ item.program }}</td>
                  <td>{{ item.qty }}</td>
                  <td>{{ item.time }}</td>
                  <!-- <td>{{ item.estHours }}</td> -->
                  <td>{{ item.location }}</td>
                  <!-- <td>{{ item.crew }}</td> -->
                  <td>{{ item.job_ticket }}</td>
                  <td>{{ item.usageHours }}</td>
                  <td
                    *ngIf="machineryList == []"
                    align="center"
                    colspan="12"
                    class="no-data"
                  >
                    No data available
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ibm-table-container>
      </div>
    </div>
  </div>
</div>
