.pt-48 {
  padding-top: 48px;
}

.white-bg {
  background-color: #fff;
}

.bx--data-table tr td a {
  text-decoration: none;
}

.bx--data-table tbody tr {
  height: 4rem;
}

.bx--data-table {
  overflow: auto;
  width: 125%;
}

.addRequest-btn .addAlt-icon {
  position: relative;
  left: 40px;
  top: 2px;
}

::-webkit-scrollbar {
  height: 10px;
  width: 4px;
  background-color: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #d5d5d5;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::ng-deep {
  .search-style .bx--search--sm .bx--search-input,
  .bx--search--sm.bx--search--expandable.bx--search--expanded .bx--search-input,
  .bx--search--sm .bx--search-close,
  .bx--search--sm ~ .bx--search-button,
  .bx--search--sm.bx--search--expandable,
  .bx--search--sm.bx--search--expandable .bx--search-magnifier {
    height: 48px;
  }
  .search-style .bx--search-magnifier {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
