<div ibmGrid class="bx--grid--full-width">
  <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-33">
    <div ibmCol [columnNumbers]="{ lg: 12, md: 12, sm: 12 }">
      <ibm-breadcrumb [noTrailingSlash]="true">
        <ibm-breadcrumb-item [current]="true">
          Operation System
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item>
          <a routerLink="/operation-system/sw-inbound-outbound-list"
            >Schedule Waste Management</a
          >
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item [current]="true">
          Inbound SO Reporting List
        </ibm-breadcrumb-item>
      </ibm-breadcrumb>
    </div>
  </div>

  <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-40">
    <div ibmCol [columnNumbers]="{ lg: 12, md: 12, sm: 12 }">
      <span class="ph03">Schedule Waste Management</span>
    </div>
  </div>

  <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-40">
    <div ibmCol [columnNumbers]="{ lg: 12, md: 12, sm: 12 }">
      <span class="ph03">Inbound Service Order Reporting List</span>
      <p ibmTableHeaderDescription>
        Current and previous Inbound Service Order Reporting List in ILMS
        application
      </p>
    </div>
  </div>

  <div
    ibmRow
    class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-40 pb-64"
  >
    <div ibmCol [columnNumbers]="{ lg: 12, md: 12, sm: 12 }" class="pl-0 pr-0">
      <ibm-table-container class="table-style">
        <ibm-table-toolbar>
          <ibm-table-toolbar-content class="white-bg">
            <ibm-table-toolbar-search
              (valueChange)="searchFilter($event)"
              (clear)="searchFilter($event)"
            >
            </ibm-table-toolbar-search>

            <!-- <button
              ibmButton="primary"
              size="sm"
              type="button"
              routerLink="/operation-system/marine-berth-request-form"
              style="width: 180px"
            >
              New Request
              <div class="icon-addAlt" ibmIcon="add--alt" size="20"></div>
            </button> -->
            <button
              ibmButton="secondary"
              *ngIf="sortingOn"
              size="sm"
              type="button"
              (click)="userInfo()"
              (click)="clearSearch()"
              class="addNew"
            >
              Reset Sorting
              <div class="icon-addAlt" ibmIcon="filter--reset" size="20"></div>
            </button>
            <button
              ibmButton="secondary"
              size="sm"
              type="button"
              class="addNew"
              (click)="userInfo()"
            >
              <span style="margin-right: 42px">Refresh</span>
              <div class="icon-addAlt" ibmIcon="renew" size="20"></div>
            </button>
          </ibm-table-toolbar-content>
        </ibm-table-toolbar>

        <div class="horizontal-overflow-table">
          <ng-template #customTableItemTemplate let-data="data">
            <a
              class="customLink2"
              [routerLink]="[
                '/operation-system/sw-inbound-so-report-view',
                data.link
              ]"
            >
              {{ data.formNo }}
            </a>
          </ng-template>

          <!-- status pending endorsement -->
          <ng-template #customTableItemTemplate1 let-data="data">
            <span style="color: red">{{ data }}</span>
          </ng-template>

          <ibm-table
            [model]="model"
            [striped]="false"
            [showSelectionColumn]="false"
            (sort)="doSort($event)"
          ></ibm-table>
        </div>
        <ibm-pagination
          [model]="model"
          [itemsPerPageOptions]="itemsPerPageOptions"
          (selectPage)="selectPage($event)"
        ></ibm-pagination>
      </ibm-table-container>
    </div>
  </div>
</div>
