<div ibmGrid class="bx--grid--full-width" style="padding-bottom: 133px;">

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-33">
        <div ibmCol [columnNumbers]="{'lg': 6, 'md': 6, 'sm': 6}">
            <ibm-breadcrumb [noTrailingSlash]="true">
                <ibm-breadcrumb-item [current]="true" href="#1">
                    Settings
                </ibm-breadcrumb-item>
                <ibm-breadcrumb-item href="#2">
                    User Registration
                </ibm-breadcrumb-item>
                <ibm-breadcrumb-item [current]="true" href="#2">
                    Add User
                </ibm-breadcrumb-item>
            </ibm-breadcrumb>
        </div>
    </div>

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{'lg': 6, 'md': 6, 'sm': 6}">
            <div class="title">
                <span class="ph03">Add User</span>
            </div>
        </div>
    </div>

    <form>
        <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
            <div ibmCol [columnNumbers]="{'lg': 6, 'md': 6, 'sm': 6}">
                <div class="form-item">
                    <ibm-label>
                        Login ID
                        <input ibmText type="text">
                    </ibm-label>
                </div>

                <div class="form-item">
                    <ibm-label>
                        Name
                        <input ibmText type="text">
                    </ibm-label>
                </div>

                <div class="form-item">
                    <ibm-label>
                        Email
                        <input ibmText type="email">
                    </ibm-label>
                </div>

                <div class="form-item">
                    <ibm-label>
                        Phone Number
                        <input ibmText type="number">
                    </ibm-label>
                </div>

                <div class="form-item">
                    <ibm-label>Role</ibm-label>
                    <div class="d-flex">
                        <ibm-checkbox>
                            <span class="bl01">Endorser</span>
                        </ibm-checkbox>
                        <ibm-checkbox class="pl-32">
                            <span class="bl01">Requester</span>
                        </ibm-checkbox>
                    </div>
                </div>
            </div>
        </div>

        <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
            <div ibmCol [columnNumbers]="{'lg': 10, 'md': 10, 'sm': 6}">
                <div class="form-item btn-spacing">
                    <button class="mb-3 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0" ibmButton="secondary" size="md">Cancel</button>
                    <button class="mb-3 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0" ibmButton="ghost" disabled="true" size="md">Delete</button>
                    <button ibmButton="primary" size="md">Save</button>
                </div>
            </div>
        </div>

    </form>

</div>