@import "~bootstrap/dist/css/bootstrap.css";

.pt-33 {
    padding-top: 34px;
}

.pt-32 {
    padding-top: 32px;
}

.pl-32 {
    padding-left: 32px;
}

.form-item {
    padding-bottom: 32px;
}

.form-item.btn-spacing{
    padding-top: 32px;
}

.btn-spacing button {
    margin-right: 24px;
    width: 178px;
}