@import "~bootstrap/dist/css/bootstrap.css";

.pt-16 {
      padding-top: 16px;
}

.pt-24 {
      padding-top: 24px;
}

.pt-32 {
      padding-top: 32px;
}

.pt-64 {
      padding-top: 64px;
}

.w-40 {
      width: 40%;
}

.w-50 {
      width: 50%;
}

.booking-counter {
      border-right: 1px solid darkgrey;
}
  
// .pl-0 {
//       padding-left: 0px;
// }
  
// .pl-8 {
//       padding-left: 8px;
// }
  
// .pt-34 {
//       padding-top: 34px;
// }

// .pt-32 {
//       padding-top: 32px;
// }
  
// .pr-0 {
//       padding-right: 0px;
// }
  
// .p-16 {
//       padding: 16px;
// }
  
// .pt-16 {
//       padding-top: 16px;
// }
  
// .pr-20 {
//       padding-right: 20%;
// }

// .pl-29 {
//       padding-left: 29px;
// }

// .pl-35 {
//       padding-left: 35px;
// }

// .display-flex-row {
//     display: flex;
// }
  
// .display-flex-col {
//     display: flex;
//     justify-content: flex-start;
//     align-items: flex-end;
//     padding-top: 50px;
// }

// .d-col {
//       display: flex; 
//       flex-direction: column;
// }

// .pl-150 {
//       padding-left: 150px;
// }

// .pl-118 {
//       padding-left: 118px;
// }

// .time {
//     border-right: 1px solid darkgrey;
// }

