@import "~carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family";
@import "~carbon-components/scss/globals/scss/typography";

.pt-33 {
  padding-top: 33px;
}

.pt-40 {
  padding-top: 40px;
}

.pl-0 {
  padding-left: 0px !important;
}

.white-bg {
  background-color: #fff;
}

.icon-addAlt {
  //position: relative;
  left: 40px;
  top: 2px;
}

.icon-search {
  margin-right: 12px;
  margin-top: 16px;
}

//---- Horizontal scroll -----
// .horizontal-overflow-table {
//   //   display: flex;
//   overflow-x: scroll !important;
//   overflow-y: hidden;
// }

// ibm-table {
//   flex-shrink: 0;
// }
// -------------------------

// Scroll bar
::-webkit-scrollbar {
  height: 10px;
  width: 4px;
  background-color: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #d5d5d5;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::ng-deep {
  // .bx--toolbar-content {
  //     background-color: white;
  // }
  .bx--search--sm .bx--search-input,
  .bx--search--sm.bx--search--expandable.bx--search--expanded .bx--search-input,
  .bx--search--sm .bx--search-close,
  .bx--search--sm ~ .bx--search-button,
  .bx--search--sm.bx--search--expandable,
  .bx--search--sm.bx--search--expandable .bx--search-magnifier {
    height: 48px;
  }
  .bx--search-magnifier {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .bx--btn--sm {
    padding: 3px 16px 3px 16px;
  }
  #table-header-0-0-0 {
    width: 75px;
  }
}
