<form>
    <ibm-label [invalid]="invalidCurrentPassword" [invalidText]="invalidTextCurrentPassword">
        Current password
        <input [type]="showCurrentPassword ? 'text' : 'password'" name="password" ibmText [placeholder]="'Current password'" hidePasswordLabel="Hide password" showPasswordLabel="Show password" [(ngModel)]="currentPassword" [invalid]="invalidCurrentPassword" (ngModelChange)="inputValueChange()">

        <div style="margin-left: -28px; margin-top: 10px;">
            <i alt="show" ibmIcon="view--off" size="20" (click)="showCurrentPassword = !showCurrentPassword" [class.hide]="showCurrentPassword">
            </i>
            <i alt="hide" ibmIcon="view" size="20" (click)="showCurrentPassword = !showCurrentPassword" [class.hide]="!showCurrentPassword">
            </i>
        </div>
    </ibm-label>
    <hr class="mt-40">
    <ibm-label [invalid]="invalidNewPassword" [invalidText]="invalidTextNewPassword">
        New password
        <input [type]="showNewPassword ? 'text' : 'password'" name="password" ibmText [placeholder]="'New password'" [(ngModel)]="newPassword" [invalid]="invalidNewPassword" (ngModelChange)="inputValueChange()">
        <div style="margin-left: -28px; margin-top: 10px;">
            <i alt="show" ibmIcon="view--off" size="20" (click)="showNewPassword = !showNewPassword" [class.hide]="showNewPassword">
            </i>
            <i alt="hide" ibmIcon="view" size="20" (click)="showNewPassword = !showNewPassword" [class.hide]="!showNewPassword">
            </i>
        </div>
        <ng-template #newPasswordInvalidText>
            <p class="invalidtextClass" *ngIf="newPasswordMissing">{{newPasswordMissing}}</p>
            <p class="invalidtextClass" *ngIf="newPasswordNotMatching">{{newPasswordNotMatching}}</p>
            <p class="invalidtextClass" *ngIf="newPasswordLessThan8">{{newPasswordLessThan8}}</p>
            <p class="invalidtextClass" *ngIf="newPasswordAlphaNumeric">{{newPasswordAlphaNumeric}}</p>
            <p class="invalidtextClass" *ngIf="newPasswordCapitalLowercase">{{newPasswordCapitalLowercase}}</p>
            <p class="invalidtextClass" *ngIf="newPasswordContainNumber">{{newPasswordContainNumber}}</p>
        </ng-template>
    </ibm-label>
    <ibm-label [invalid]="invalidConfirmNewPassword" [invalidText]="invalidTextConfirmNewPassword" class="mt-24">
        Confirm new password
        <input [type]="showConfirmPassword ? 'text' : 'password'" ibmText [placeholder]="'Confirm new password'" name="password" [(ngModel)]="confirmNewPassword" [invalid]="invalidConfirmNewPassword" (ngModelChange)="inputValueChange()">
        <div style="margin-left: -28px; margin-top: 10px;">
            <i alt="show" ibmIcon="view--off" size="20" (click)="showConfirmPassword = !showConfirmPassword" [class.hide]="showConfirmPassword">
            </i>
            <i alt="hide" ibmIcon="view" size="20" (click)="showConfirmPassword = !showConfirmPassword" [class.hide]="!showConfirmPassword">
            </i>
        </div>
    </ibm-label>
    <button [ibmButton]="'secondary'" [size]="'lg'" style="margin-right: 16px;" (click)="cancelChange()">Cancel</button>
    <button type="button" [ibmButton]="'primary'" [size]="'lg'" (click)="onSubmit()" [disabled]="isLoading">Update</button>
    <ibm-placeholder></ibm-placeholder>
</form>