<div ibmGrid class="bx--grid--full-width">
  <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
    <div ibmCol [columnNumbers]="{ lg: 16 }">
      <ibm-breadcrumb [noTrailingSlash]="true">
        <ibm-breadcrumb-item [current]="true" href="#1">
          Operation System
        </ibm-breadcrumb-item>
        <ibm-breadcrumb-item>
          ICW Inventory Transactions
          <!-- <a style="text-decoration: none;" [routerLink]="['/wms/psb-inventory-list']">Waste Disposal</a> -->
        </ibm-breadcrumb-item>
        <!-- <ibm-breadcrumb-item [current]="true" href="#3">
                      Transfer Location
                  </ibm-breadcrumb-item> -->
      </ibm-breadcrumb>
    </div>
  </div>

  <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 mt-32">
    <div ibmCol [columnNumbers]="{ max: 16, xlg: 16, lg: 16 }" class="ph03">
      ICW Inventory Transactions
    </div>
  </div>

  <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3">
    <div
      ibmCol
      [columnNumbers]="{ max: 16, xlg: 16, lg: 16 }"
      style="color: #515151"
    >
      Current ICW Inventory Transactions in ILMS application
    </div>
  </div>

  <div
    ibmRow
    class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 mt-40"
    [leftGutter]="false"
    [rightGutter]="false"
  >
    <div ibmCol [columnNumbers]="{ lg: 12 }">
      <ibm-table-container class="mb-32">
        <ibm-table-toolbar class="tableToolbar">
          <ibm-table-toolbar-content>
            <ibm-table-toolbar-search
              [(ngModel)]="searchModel"
              (valueChange)="searchFilter($event)"
              (clear)="searchFilter($event)"
            >
            </ibm-table-toolbar-search>

            <button
              ibmButton="secondary"
              *ngIf="sortingOn"
              size="sm"
              type="button"
              class="addNew"
              (click)="userInfo()"
              (click)="clearSearch()"
            >
              Reset Sorting
              <div class="icon-addAlt" ibmIcon="filter--reset" size="20"></div>
            </button>
          </ibm-table-toolbar-content>
        </ibm-table-toolbar>
        <div class="horizontal-overflow-table">
          <ng-template #customTableItemTemplate let-data="data">
            <a
              style="text-decoration: none"
              [routerLink]="[
                '/operation-system/icw-request-storage-view',
                data.link
              ]"
              >{{ data.requestNo }}</a
            >
          </ng-template>
          <ng-template #customTableItemTemplate1 let-data="data">
            <span style="color: red">{{ data }}</span>
          </ng-template>
          <ibm-table
            [model]="model"
            [striped]="false"
            [showSelectionColumn]="false"
            (sort)="doSort($event)"
          ></ibm-table>
        </div>
        <ibm-pagination
          [model]="model"
          [itemsPerPageOptions]="itemsPerPageOptions"
          (selectPage)="selectPage($event)"
        ></ibm-pagination>
      </ibm-table-container>
      <br /><br />
    </div>
  </div>

  <div
    ibmRow
    class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 mt-40"
    [leftGutter]="false"
    [rightGutter]="false"
  >
    <div
      ibmCol
      [columnNumbers]="{ lg: 12, md: 10, sm: 5 }"
      class="d-flex-row"
      style="justify-content: flex-start"
    >
      <button
        ibmButton="primary"
        class="mr-24"
        size="md"
        [routerLink]="['/operation-system/icw-inventory-balances']"
      >
        Back
      </button>
    </div>
  </div>
</div>
