<div ibmGrid class="bx--grid--full-width">

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':10, 'md':10, 'sm':10 }">
            <ibm-breadcrumb [noTrailingSlash]="true">
                <ibm-breadcrumb-item [current]="true" href="#1">
                    Operation System
                </ibm-breadcrumb-item>
                <ibm-breadcrumb-item href="#2">
                    Berth Occupancy Docket
                </ibm-breadcrumb-item>
                <ibm-breadcrumb-item [current]="true" href="#3">
                    B102120120
                </ibm-breadcrumb-item>
            </ibm-breadcrumb>
        </div>
    </div>
    <!-- Berth Occupancy Docket Details -->
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':10, 'md':10, 'sm': 6 }">
            <span class="ph03">Berth Occupancy Docket Details</span>
        </div>
    </div>
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':2 }" class="ph01">
            Company Name
        </div>
        <div ibmCol [columnNumbers]="{ 'lg':6 }" class="bl01">
            Haliburton Energy Services (M) Sdn Bhd
        </div>
    </div>
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':2 }" class="ph01">
            BOD Number
        </div>
        <div ibmCol [columnNumbers]="{ 'lg':6 }" class="bl01">
            X102120120
        </div>
    </div>
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':2 }" class="ph01">
            BOD Date
        </div>
        <div ibmCol [columnNumbers]="{ 'lg':6 }" class="bl01">
            03/06/2021
        </div>
    </div>
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':2 }" class="ph01">
            Vessel Name
        </div>
        <div ibmCol [columnNumbers]="{ 'lg':6 }" class="bl01">
            Morning Star 2
        </div>
    </div>
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':2 }" class="ph01">
            Last Location
        </div>
        <div ibmCol [columnNumbers]="{ 'lg':6 }" class="bl01">
            ANGSI
        </div>
    </div>
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':2 }" class="ph01">
            Next Location
        </div>
        <div ibmCol [columnNumbers]="{ 'lg':6 }" class="bl01">
            BEKOK C
        </div>
    </div>
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':2 }" class="ph01">
            GRT
        </div>
        <div ibmCol [columnNumbers]="{ 'lg':6 }" class="bl01">
            1630T
        </div>
    </div>
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':2 }" class="ph01">
            LOA
        </div>
        <div ibmCol [columnNumbers]="{ 'lg':6 }" class="bl01">
            1630T
        </div>
    </div>
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':2 }" class="ph01">
            Request Number
        </div>
        <div ibmCol [columnNumbers]="{ 'lg':6 }" class="bl01">
            <span class="customLink">XX120129</span>
        </div>
    </div>
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':2 }" class="ph01">
            PAC / Agent
        </div>
        <div ibmCol [columnNumbers]="{ 'lg':6 }" class="bl01">
            Ming Ming
        </div>
    </div>
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':2 }" class="ph01">
            Status
        </div>
        <div ibmCol [columnNumbers]="{ 'lg':6 }" class="bl01">
            In Progress
        </div>
    </div>
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':2 }" class="ph01">
            Cancellation Date / Time
        </div>
        <div ibmCol [columnNumbers]="{ 'lg':6 }" class="bl01">
            -
        </div>
    </div>
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':2 }" class="ph01">
            Remarks
        </div>
        <div ibmCol [columnNumbers]="{ 'lg':6 }" class="bl01">
            -
        </div>
    </div>

    <div class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3  pt-64">
        <hr>
    </div>

    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32">
        <div ibmCol [columnNumbers]="{ 'lg':2 }" class="ph01">
            Log No.
        </div>
        <div ibmCol [columnNumbers]="{ 'lg':6 }" class="bl01">
            0101
        </div>
    </div>
    <!-- Vessel Arrival & Departure Information -->
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-32" [leftGutter]="false"
        [rightGutter]="false">
        <div ibmCol [columnNumbers]="{'lg': 12, 'md': 10, 'sm': 6}">
            <ibm-table-container>

                <ibm-table-header class="pb-48">
                    <h4 ibmTableHeaderTitle>Vessel Arrival & Departure Information</h4>
                </ibm-table-header>

                <table class="bx--data-table">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Time
                            </th>
                            <th>
                                Day
                            </th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <th class="ph01">Alongside</th> 
                            

                            <td>04/07/2021</td>

                            <td>19:30</td>

                            <td>Sunday</td>
                        </tr>

                        <tr>
                            <td class="ph01">Departure</td>

                            <td>05/07/2021</td>

                            <td>09:30</td>

                            <td>Monday</td>
                        </tr>

                    </tbody>
                </table>
            </ibm-table-container>
        </div>
    </div>
    <!-- Berthing Information -->
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-64" [leftGutter]="false"
        [rightGutter]="false">
        <div ibmCol [columnNumbers]="{'lg': 12, 'md': 10, 'sm': 6}">
            <ibm-table-container>

                <ibm-table-header class="pb-48">
                    <h4 ibmTableHeaderTitle>Berthing Information</h4>
                </ibm-table-header>

                <table class="bx--data-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Berth ID</th>
                            <th>Charge Rate</th>
                            <th style="text-align: center;" colspan="2">Alongside</th>
                            <th style="text-align: center;" colspan="2">Departure</th>
                        </tr>

                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td></td>
                            <td>B1</td>
                            <td>ASB</td>
                            <td>04/07/2021</td>
                            <td>19:30</td>
                            <td>04/07/2021</td>
                            <td>21:30</td>
                        </tr>

                        <tr>
                            <td>1st Shifting</td>
                            <td>B3</td>
                            <td>ASV</td>
                            <td>04/07/2021</td>
                            <td>21:30</td>
                            <td>04/07/2021</td>
                            <td>21:30</td>
                        </tr>

                    </tbody>
                </table>
            </ibm-table-container>
        </div>
    </div>
    <!-- Work Program List -->
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-64" [leftGutter]="false"
        [rightGutter]="false">

        <div ibmCol [columnNumbers]="{'lg': 12, 'md': 10, 'sm': 6}">
            <div>
                <ibm-table-container>

                    <ibm-table-header class="pb-48">
                        <h4 ibmTableHeaderTitle>Work Program List</h4>
                    </ibm-table-header>

                    <ibm-table-toolbar>
                        
                        <div class="table-action">

                            <div class="actions">
                                <div class="del">
                                    <Button ibmButton="primary" size="sm" type="button">
                                        Print
                                        <div class="icon-printer" ibmIcon="printer" size="20"></div>
                                    </Button>
                                </div>
                                <div class="cancel">
                                    <button ibmButton="primary" size="sm" type="button">Cancel</button>
                                </div>
                            </div>

                        </div>

                    </ibm-table-toolbar>

                    <div class="">

                        <table class="bx--data-table">

                            <thead>
                                <tr>
                                    <th>
                                        No.
                                    </th>
                                    <th>
                                        Work Program
                                    </th>
                                    <th>
                                        Request
                                    </th>
                                    <th>
                                        Remarks
                                    </th>
                                    <th>
                                        Action
                                    </th>                                    
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Mooring</td>
                                    <td>Yes</td>
                                    <td></td>
                                    <td>
                                    <ibm-checkbox ></ibm-checkbox>
                                    </td>
                                </tr>

                                <tr>
                                    <td>2.</td>
                                    <td>Un-Mooring</td>
                                    <td>Yes</td>
                                    <td></td>
                                    <td>
                                    <ibm-checkbox ></ibm-checkbox>
                                    </td>
                                </tr>

                                <tr>
                                    <td>3.</td>
                                    <td>Garbage Removal Dues</td>
                                    <td>Yes</td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>4.</td>
                                    <td>Discharge</td>
                                    <td>Yes</td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>5.</td>
                                    <td>Loading</td>
                                    <td>Yes</td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>6.</td>
                                    <td>Standby</td>
                                    <td>Yes</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ibm-table-container>
            </div>
        </div>

    </div>
    <!-- Scope of Work -->
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-64" [leftGutter]="false"
        [rightGutter]="false">
        <div ibmCol [columnNumbers]="{'lg': 12, 'md': 10, 'sm': 6}">
            <ibm-table-container>

                <ibm-table-header class="pb-48">
                    <h4 ibmTableHeaderTitle>Scope of Work</h4>
                </ibm-table-header>

                <table class="bx--data-table">

                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Scope of Work</th>
                            <th>Qty. In</th>
                            <th>Qty. Out</th>
                            <th>Total</th>
                            <th>UOM</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>1.</td>
                            <td>Oil Field Equipment</td>
                            <td>100</td>
                            <td>50</td>
                            <td>150</td>
                            <td>T</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>1.</td>
                            <td>Oil Field Equipment</td>
                            <td>100</td>
                            <td>50</td>
                            <td>150</td>
                            <td>T</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>2.</td>
                            <td>Container</td>
                            <td>10</td>
                            <td>2</td>
                            <td>12</td>
                            <td>T</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>3.</td>
                            <td>Casing & Tubing</td>
                            <td>10</td>
                            <td>1</td>
                            <td>11</td>
                            <td>T</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>4.</td>
                            <td>Water</td>
                            <td>1,000</td>
                            <td>200</td>
                            <td>1,200</td>
                            <td>L</td>
                            <td>04/07/2021 09:30</td>
                            <td>04/07/2021 19:30</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>5.</td>
                            <td>Water (0.001)</td>
                            <td>11.7</td>
                            <td>23.4</td>
                            <td>35.1</td>
                            <td>L</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>6.</td>
                            <td>Fuel</td>
                            <td>30,000</td>
                            <td>30,000</td>
                            <td>60,000</td>
                            <td>L</td>
                            <td>04/07/2021 09:30</td>
                            <td>04/07/2021 19:30</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>7.</td>
                            <td>Fuel (0.00083)</td>
                            <td>11.7</td>
                            <td>11.7</td>
                            <td>23.4</td>
                            <td>T</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>8.</td>
                            <td>OBM</td>
                            <td>1,000</td>
                            <td>1,000</td>
                            <td>2,000</td>
                            <td>T</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>9.</td>
                            <td>SBM</td>
                            <td>1,000</td>
                            <td>500</td>
                            <td>1,500</td>
                            <td>T</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </ibm-table-container>
        </div>
    </div>
    <!-- Heavy Packages List -->
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-64" [leftGutter]="false"
        [rightGutter]="false">
        <div ibmCol [columnNumbers]="{'lg': 12, 'md': 10, 'sm': 6}">
            <ibm-table-container>

                <ibm-table-header class="pb-48">
                    <h4 ibmTableHeaderTitle>Heavy Packages List</h4>
                </ibm-table-header>

                <table class="bx--data-table">

                    <thead>
                        <tr>
                            <th style="width: 5%;">No.</th>
                            <th class="ta-left" style="width: 80%;">Heavy Packages</th>
                            <th>Qty.</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>1.</td>
                            <td class="ta-left">Up to 25 tonnes</td>
                            <td>1</td>
                        </tr>

                        <tr>
                            <td>2.</td>
                            <td class="ta-left">>25 - 50 tonnes</td>
                            <td>2</td>
                        </tr>

                        <tr>
                            <td>3.</td>
                            <td class="ta-left">>50 - 75 tonnes</td>
                            <td>4</td>
                        </tr>

                        <tr>
                            <td>4.</td>
                            <td class="ta-left">>75 tonnes</td>
                            <td>3</td>
                        </tr>

                    </tbody>

                    <thead>
                        <tr>
                            <th>Total</th>
                            <th></th>
                            <th>10</th>
                        <tr>
                    </thead>

                </table>
            </ibm-table-container>
        </div>
    </div>
    <!-- Documents List -->
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-64" [leftGutter]="false"
        [rightGutter]="false">

        <div ibmCol [columnNumbers]="{'lg': 12, 'md': 10, 'sm': 6}">

            <div class="form-item">

                <ibm-table-container>

                    <ibm-table-header >
                        <h4 ibmTableHeaderTitle>Documents List</h4>
                        <p ibmTableHeaderDescription>Please add related documents in the table below. 
                            For example: K4, K5, Delivery Order, Other Documents.<br> 
                            To remove, select the checkbox and press remove button in the console
                        </p>
                    </ibm-table-header>

                    <ibm-table-toolbar>
                        <ibm-table-toolbar-content>
                            <button ibmButton="primary" size="sm" type="button">
                                Add New
                                <div class="icon-addAlt" ibmIcon="add--alt" size="20"></div>
                            </button>
                        </ibm-table-toolbar-content>
                    </ibm-table-toolbar>

                    <div class="">
                        <table class="bx--data-table">

                            <thead>
                                <tr>
                                    <th>
                                        No.
                                    </th>
                                    <th>
                                        Doc. Type
                                    </th>
                                    <th>
                                        Waste Code
                                    </th>
                                    <th>
                                        Doc. ID
                                    </th>
                                    <th>
                                        Uploaded By
                                    </th>
                                    <th>
                                        Date / Time
                                    </th>
                                    <th>
                                        Transaction Ref. No.
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                
                                <tr>
                                    <td>1.</td>                                    
                                    <td>DO</td>
                                    <td></td>
                                    <td><span class="customLink">XXXXXXXXXX</span></td>
                                    <td>Agency X</td>
                                    <td>10/06/2021 20:00</td>
                                    <td>XXXXXXXXXX</td>
                                    <td>
                                        <ibm-checkbox></ibm-checkbox>
                                    </td>
                                </tr>

                                <tr>
                                    <td>2.</td>                                    
                                    <td>Manifest</td>
                                    <td></td>
                                    <td><span class="customLink">XXXXXXXXXX</span></td>
                                    <td>Agency X</td>
                                    <td>10/06/2021 20:00</td>
                                    <td>XXXXXXXXXX</td>
                                    <td>
                                        <ibm-checkbox></ibm-checkbox>
                                    </td>
                                </tr>

                                <tr>
                                    <td>3.</td>                                    
                                    <td>K4</td>
                                    <td></td>
                                    <td><span class="customLink">XXXXXXXXXX</span></td>
                                    <td>Agency X</td>
                                    <td>10/06/2021 20:00</td>
                                    <td>XXXXXXXXXX</td>
                                    <td>
                                        <ibm-checkbox></ibm-checkbox>
                                    </td>
                                </tr>

                                <tr>
                                    <td>4.</td>                                    
                                    <td>K5</td>
                                    <td></td>
                                    <td><span class="customLink">XXXXXXXXXX</span></td>
                                    <td>Agency X</td>
                                    <td>10/06/2021 20:00</td>
                                    <td>XXXXXXXXXX</td>
                                    <td>
                                        <ibm-checkbox></ibm-checkbox>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </ibm-table-container>
            </div>
        </div>

    </div>
    <!-- buttons -->
    <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-64">
        <button type="button" ibmButton="secondary" size='field' class="mr-24">Back</button>
        <button type="button" ibmButton="primary" disabled="true" size='field'>Endorse BOD</button>
    </div>

</div>