<div ibmGrid class="bx--grid--full-width" style="padding-bottom: 133px">
  <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-34">
    <div ibmCol [columnNumbers]="{ lg: 12, md: 10, sm: 6 }">
      <ibm-breadcrumb [noTrailingSlash]="true">
        <ibm-breadcrumb-item [current]="true">
          Operations System
        </ibm-breadcrumb-item>

        <ibm-breadcrumb-item [current]="true"> MHE </ibm-breadcrumb-item>

        <ibm-breadcrumb-item [current]="true">
          Current Request
        </ibm-breadcrumb-item>
      </ibm-breadcrumb>
    </div>
  </div>

  <app-booking-time-counter></app-booking-time-counter>

  <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-34">
    <div ibmCol [columnNumbers]="{ lg: 12, md: 10, sm: 6 }">
      <span class="ph03">MHE</span>
    </div>
  </div>

  <div ibmRow class="bx--offset-max-2 bx--offset-xlg-2 bx--offset-lg-3 pt-16">
    <div ibmCol [columnNumbers]="{ lg: 12, md: 10, sm: 6 }">
      <ibm-table-container class="table-style">
        <ibm-table-header class="white-bg">
          <span ibmTableHeaderTitle class="ph03">MHE Current Request List</span>
          <p ibmTableHeaderDescription>
            Current MHE service requested in ILMS application
          </p>
        </ibm-table-header>

        <ibm-table-toolbar>
          <ibm-table-toolbar-content class="white-bg">
            <ibm-table-toolbar-search
              [(ngModel)]="searchModel"
              (valueChange)="searchFilter($event)"
              (clear)="searchFilter($event)"
            >
            </ibm-table-toolbar-search>

            <button
              ibmButton="primary"
              size="sm"
              type="button"
              routerLink="/operation-system/mhe-request-form"
              style="width: 180px"
            >
              New Request
              <div class="icon-addAlt" ibmIcon="add--alt" size="20"></div>
            </button>
            <button
              ibmButton="secondary"
              *ngIf="sortingOn"
              size="sm"
              type="button"
              (click)="userInfo()"
              (click)="clearSearch()"
            >
              <span style="margin-right: 42px"> Reset Sorting</span>
              <div class="icon-addAlt" ibmIcon="filter--reset" size="20"></div>
            </button>
            <button
              ibmButton="secondary"
              size="sm"
              type="button"
              class="addNew"
              (click)="userInfo()"
            >
              Refresh
              <div class="icon-addAlt" ibmIcon="renew" size="20"></div>
            </button>
          </ibm-table-toolbar-content>
        </ibm-table-toolbar>

        <div class="horizontal-overflow-table">
          <ng-template #customTableItemTemplate let-data="data">
            <a
              [routerLink]="[
                '/operation-system/mhe-request-preview-endorse',
                data.link
              ]"
              [skipLocationChange]="true"
              >{{ data.requestNo }}</a
            >
          </ng-template>
          <ng-template #customStatus let-data="data">
            <div
              [ngStyle]="{
                color: data.requeststatus.toLowerCase().includes('pending')
                  ? 'red'
                  : '#161616'
              }"
            >
              {{ data.requeststatus }}
            </div>
          </ng-template>

          <ibm-table
            [model]="model"
            [striped]="false"
            [showSelectionColumn]="false"
            (sort)="doSort($event)"
          ></ibm-table>
        </div>
        <ibm-pagination
          [model]="model"
          [itemsPerPageOptions]="itemsPerPageOptions"
          (selectPage)="selectPage($event)"
        ></ibm-pagination>
      </ibm-table-container>
    </div>
  </div>
</div>
